  /** {
    border: 2px;
    border-style: solid;
    border-color: white;
  }*/

  body {
    background-color: black;
    color: white;
  }

  .section1 {
    color: red;
    font-size: 12px;
  }

  .section2 {
    color: orange;
    font-size: 12px;
  }
.section3{
  font-family: 'David Libre', serif;
  font-size: 50px;
}
  .glock40 {
    width: 50%;
  }
  .section3 {
    color: white;
    font-size: 12px;
  }
  .section4 {
    color: yellow;
    font-size: 12px;
  }

  img {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .page-heading {
    text-align: center;
  }
  header{
    background-color: red;
    padding-top: 50px;
  }



  table {
    margin:0 auto;
    width:600px;
    border:1px solid black;

  }

  td {
    padding:15px;
  }
  .header {
    background:red;

  }


  .middle {
    background-color: white;
    height:250px;
  }
  .bottom {
    background-color: blue;
    height:200px;
  }
  .phone{
    width: 225px;
  }

  }
  footer{
    background-color: blue;
    padding-bottom:25px;
  }
  .go {
    background-color: purple;
    padding-top: 20px;
  }
  .education {
    text-align: center;

  }
  #pic {
    border: 50px solid black;
    border-radius: 50%;
    width:100px;
    padding:0;
  }
  .title{
    text-align: right;
  }
  .section6{
    background-color: white;
    padding-bottom: 500px;
  }
  .section7{
    background: url(http://www.clipartkid.com/images/100/baseball-diamond-images-baseball-diamond-and-bats-on-eLUfR1-clipart.);
  }
  .h1{
    font-family:'Lalezar',cursive;
  }
